@charset "ISO-8859-1";

body{
	background-color: #FFFFFF;
}

.titre{
	font-size: 350%;
	font-style: italic;
	margin-top: 2%;
	margin-left: 33%;
	margin-bottom: 1%;
}

nav{
	display: flex;
	align-items: center;
	margin-bottom: 0;
	border-bottom: solid black 3q;
	margin-left: 20%;
	margin-right:  20%;
}

.theme{
	color: #4E4949;
	font-size: 200%;
	font-weight: bold;
	margin-top: 4%;
	margin-left: 48.5%;
	margin-bottom: 1%;
}

.form-group{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 15%;
	
}

.form-group-sign{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10%;
	
}

.form-block{
	padding-top: 1%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

label{
	font-size: 145%;
	margin-bottom: 3%;
}

.label-m{
	font-size: 100%;
	margin-bottom: 1%;
}

.localisation{
	border: 1 solid black;
	border-radius: 5%;
}

.entrer-local{
	width: 80%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #FEF9F9;
	border: solid #7C6F6F 3q;
	padding-left: 5%;
	height: 50%;
	border-width: 2%;
}

.entrer-sign{
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 5%;
	height: 60%;
}

.local{
	margin-top: 7%;
	margin-bottom: 3%;
}

.entrer{
	width: 150%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	background-color: #FEF9F9;
	border: solid #7C6F6F 4%;
}

.form-login{
	margin-bottom: 10%;
}

.mbtn{
	margin-top: 15%;
	margin-left: 35%;
	height: 30%;
	width: 55%;
	background-color: #08D140;
	border-radius: 8%;
	color: #FFFFFF;
	padding: 5%;
	padding-left: 0%;
	padding-right: 0%;
	border: none;
	font-size: 100%;
	font-weight: bold;
	box-shadow: 59%;
	
}

.info{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 2%;
}

.alert{
	margin-left: 40%;
}







